@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<CankutayUcarIdentity.UI.ViewModels.RoleVewModel>
<h1>Roles</h1>
<a asp-action="RoleCreate" asp-controller="Admin" class="btn btn-info"> Role oluştur</a>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Silme</th>
            <th>Güncelleme</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in @Model)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Name</td>
                <td><a class="btn btn-danger" asp-action="RoleDelete" asp-controller="Admin" asp-route-id="@i.Id">Sil</a></td>
                <td><a class="btn btn-warning" asp-action="RoleUpdate" asp-controller="Admin" asp-route-id="@i.Id">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>







