@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<string>
<h1>Hata meydana geldi</h1>
<hr/>

<div class="alert alert-danger">
    <ul>
        @foreach (var error in Model)
        {
            <li>@error</li>
        }
    </ul>
</div>





